{% extends "layout.twig" %}
{% block content %}
    <div id="page-wrapper">
        <div class="col-lg-12">
            <h1 class="page-header">Обзор - Редактировать</h1>
        </div>
        <form id="collection-edit-form">
            <div class="form-group">
                <input type="hidden" value="{{ collection.id }}" name="id"/>
                <label for="collection">Обзор</label>
                <input type="text" class="form-control" name="name" id="collection" placeholder="Сollection"
                       value="{{ collection.name }}">
            </div>
            <!--<div class="form-group">
                <label for="isPublic">Опубликовано</label>
                <input type="checkbox" class="form-control" name="isPublic" id="isPublic"
                       value="{{ collection.isPublic }}">
            </div>-->
            <fieldset class="form-group">
                <label for="isPublic">Опубликовано</label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="isPublic" id="isPublic" value="1">
                        Да
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="isPublic" id="isPublic" value="0" checked>
                        Нет
                    </label>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
    <script src="/js/collection/edit.js"></script>
{% endblock %}