{% extends 'layout.twig' %}

{% block content %}
    <div id="page-wrapper" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="title">
                    <h2>Обзор</h2>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Добавить Обзор</div>
                    <div class="panel-body">
                        <form action="{{ path_for('collection.upload') }}" method="post" autocomplete="off"
                              enctype='multipart/form-data'>
                            <input type='hidden' name='login' value="{{ auth.user.login }}"/>
                            <div class="form-group">
                                <label for="name">Название</label>
                                <input type="text" name="date" id="name" class="form-control" required>
                            </div>
                           <!-- <div class="form-group">
                                <label for="date">Дата</label>
                                <input type='date' name='date' id="date" class="form-control" required/>
                            </div>-->
                            <div class="form-group">
                                <label>Файл</label>
                                <input type='file' name='uploads' required/>
                            </div>

                            <button type="submit" class="btn btn-lg btn-success btn-block">Добавить</button>
                            {#{{ csrf.field | raw }}#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}